{% extends '@nglayouts/block/block.html.twig' %}

{% block content %}
    {% block remote_media %}
        {% set remote_resource_location = block.dynamicParameter('remote_resource_location') %}
        {% set variation = block.parameter('variation').value %}

        {% if remote_resource_location %}
            <div class="remote-media">
                {{ netgen_layouts_remote_media_block_tag(remote_resource_location, variation)|raw }}
            </div>
        {% endif %}
    {% endblock %}
{% endblock %}
