{% extends '@nglayouts/block/block.html.twig' %}

{% block content %}
    {% block remote_media %}
        {% set resource = block.dynamicParameter('resource') %}
        {% set variation = block.parameter('variation').value %}

        {% if resource %}
            <div class="remote-media">
                {{ netgen_layouts_remote_media_block_tag(resource_location, variation)|raw }}
            </div>
        {% endif %}
    {% endblock %}
{% endblock %}
