{% set resource_location = item.object %}
{% set resource = item.object.remoteResource %}

{% if resource %}
    <div class="remote-media">
        {{ netgen_layouts_remote_media_item_tag(resource_location, view_type)|raw }}
    </div>
{% endif %}
