{% set remote_resource_location = item.object %}

{% if remote_resource_location %}
    <div class="remote-media">
        {{ netgen_layouts_remote_media_item_tag(remote_resource_location, view_type)|raw }}
    </div>
{% endif %}
